Source: guprecords
Section: utils
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: 
Standards-Version: 3.9.2
Homepage: https://guprecords.buetow.org
Vcs-Git: https://github.com/buetow/guprecords.git
Vcs-Browser: https://github.com/buetow/guprecords

Package: guprecords
Architecture: all
Depends:
Description: Shows uprecords of several hosts
 A tool to show global uprecord stats collected on several hosts using uptimed.
